:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --blue: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  overflow: hidden;
}

.main {
  flex: 0.8;
  width: 100%;
}

.routes {
  padding: 20px;
}

a:hover {
  color: var(--blue);
}

/* NABVAR */
.navbar {
  flex: 0.2;
  background-color: rgb(0, 21, 41);
}

.nav-container {
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: rgb(0, 21, 41);
  color: white;
}

.logo-container {
  background-color: rgb(0, 21, 41);
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.logo {
  margin: 0 0 0 15px;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

/* HOME */
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.show-more {
  margin-top: 0px !important;
}

/* FOOTER */
.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
