:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --text-secondary: #096dd9;
  --light-text-secondary: ##e6f7ff;
  --border: ##bfbfbf;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

.app {
  display: flex;
  overflow: hidden;
  position: relative;
}

.main {
  flex: 0.8;
  width: 100%;
  padding-bottom: 9rem;
  background-color: #eff2f5;
}

.routes {
  padding: 20px;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: var(--text-secondary);
}

/* NAVBAR */
.navbar {
  flex: 0.2;
  background-color: rgb(0, 21, 41);
  position: relative;
}

.nav-container {
  flex: 0.2;
  left: 0;
  height: 100vh;
  background-color: rgb(0, 21, 41);
  color: white;
}

.logo-container {
  background-color: rgb(0, 21, 41);
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
}

.logo {
  margin: 15px;
  background: -webkit-linear-gradient(#fff, #8e9296);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}

.logo a {
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
}

.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

/* HOME */
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.show-more {
  margin-top: 0px !important;
}

/* CYPTOCURRENCIES */
.crypto-card-container {
  min-height: 65vh !important;
}

.crypto-card {
  min-width: 250px;
}

.crypto-card .crypo-image {
  width: 35px;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

/* NEWS */
.news-card {
  min-height: 300px !important;
}

.news-card p {
  color: black;
  margin: 30px 0 !important;
}

.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}

.news-image-container .img {
  max-width: 100px;
  max-height: 100px;
}

.news-title {
  width: 70%;
}

.provider-container {
  display: flex;
  justify-content: space-between;
}

.provider-name {
  margin-left: 10px;
}

.provider-date {
  color: gray !important;
  font-style: italic !important;
}

.select-news {
  width: 250px;
}

/* CRYPTO DETAILS */
.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding: 20px 0;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--text-secondary);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--text-secondary) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--text-secondary);
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--text-secondary);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--text-secondary) !important;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

/* LINE CHART */
.chart-heading {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: var(--text-secondary);
}

.chart-title {
  color: var(--text-secondary) !important;
  margin-top: 20px;
}

.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.price-change {
  font-weight: 900 !important;
}

.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}

/* EXCHANGES */
.exchanges-heading {
  margin: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.exchanges-img {
  margin: 0px 10px !important;
}

/* FOOTER */
.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-logo {
  background: -webkit-linear-gradient(#fff, #8e9296);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 10px !important;
}

/* MEDIA QUERY */
@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1170px) {
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }
  .navbar {
    flex: 1;
    padding-bottom: 20px;
  }
  .main {
    flex: 1;
    margin-top: 90px;
    margin-right: 10px;
  }
  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }
  .menu-control-container {
    display: block !important;
  }
  .ant-menu {
    position: absolute;
    right: 0px;
  }
  .home-title {
    font-size: 1.4rem !important;
  }
  .show-more {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
