:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --blue: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  overflow: hidden;
}

.main {
  flex: 0.8;
  width: 100%;
}

.routes {
  padding: 20px;
}

a:hover {
  color: var(--blue);
}

/* NABVAR */
.navbar {
  flex: 0.2;
  background-color: rgb(0, 21, 41);
}

.nav-container {
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: rgb(0, 21, 41);
  color: white;
}

.logo-container {
  background-color: rgb(0, 21, 41);
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.logo {
  margin: 0 0 0 15px;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

/* HOME */
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.show-more {
  margin-top: 0px !important;
}

/* CYPTOCURRENCIES */
.crypto-card-container {
  min-height: 65vh !important;
}

.crypto-card {
  min-width: 250px;
}

.crypto-card .crypo-image {
  width: 35px;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

/* NEWS */
.news-card {
  min-height: 300px !important;
}

.news-card p {
  color: black;
  margin: 30px 0 !important;
}

.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}

.news-image-container .img {
  max-width: 100px;
  max-height: 100px;
}

.news-title {
  width: 70%;
}

.provider-container {
  display: flex;
  justify-content: space-between;
}

.provider-name {
  margin-left: 10px;
}

.provider-date {
  color: gray !important;
  font-style: italic !important;
}

/* CRYPTODETAILS */
.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding: 20px 0;
  gap: 10px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--blue);
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--blue) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--blue);
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--blue);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--blue) !important;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

/* FOOTER */
.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
